apiVersion: v2
name: ntppool
description: NTP Pool System
home: https://github.com/abh/ntppool/

# A chart can be either an 'application' or a 'library' chart.
#
# Application charts are a collection of templates that can be packaged into versioned archives
# to be deployed.
#
# Library charts provide useful utilities or functions for the chart developer. They're included as
# a dependency of application charts to inject those utilities and functions into the rendering
# pipeline. Library charts do not define any templates and therefore cannot be deployed.
type: application

# This is the chart version.
version: 0.4.15

# application version (+default image tag)
appVersion: prod-2022-02.0

annotations:
  artifacthub.io/changes: |
    - Support pod annotations and service acconut name in cronjobs

dependencies:
- name: mysql
  version: 1.x.x
  repository: https://charts.helm.sh/stable
  condition: mysql.enabled
- name: geoip
  version: 0.x.x
  repository: https://charts.ntppool.org/
- name: splash
  version: 1.x.x
  repository: https://charts.ntppool.org/
  condition: splash.enabled
- name: smtp
  version: 1.x.x
  repository: https://charts.ntppool.org/
- name: locationcode
  version: ~1.0.1
  repository: https://charts.ntppool.org/
- name: common
  repository: https://library-charts.k8s-at-home.com
  version: 4.3.0
